body
{
    font-family: 'Didot', 'Times New Roman', serif;
}

.hidden {
    display: none;
}

#logo
{
    width: 35%;
    margin-left: 33%;
}

#comingSoon {
    text-align: center;
}

#name {
    text-align: center;
}