#selfPic {
  width: 25%;
  margin-right: 5%;
  float: right; }

#icons div {
  display: inline; }

#icons {
  margin-left: 5%; }

.aboutSvg {
  float: left;
  margin-left: 5%;
  width: 5%;
  margin-top: 2%;
  margin-bottom: 2%; }

.aboutSvg img {
  height: 2.5em; }

.Title1 {
  margin-top: 15%; }

#page5 .headerName {
  margin-bottom: 2%; }

#page5 .nav {
  float: right; }

#contactBio {
  clear: left;
  margin-top: 5%;
  margin-left: 10%; }

#contactBio a {
  text-decoration: none;
  color: black; }

#contactBio a:hover {
  color: #FFD9D0; }

form input {
  background-color: #FFD9D0;
  border: none;
  width: 100%;
  height: 25px;
  margin-bottom: 2%;
  margin-left: 10%; }

#comments {
  background-color: #FFD9D0;
  border: none;
  width: 100%;
  height: 125px;
  margin-left: 10%; }

form label {
  font-size: 120%;
  margin-left: 10%;
  display: block; }

#formCont {
  float: left;
  width: 40%; }

#endForm {
  position: relative;
  width: 50%;
  margin-left: 48%;
  padding-top: 10%; }

#endForm ul {
  list-style: none; }

#endForm ul li {
  display: block;
  margin-bottom: 2%; }

#submit {
  background-color: #FFD9D0;
  height: 40px;
  width: 40%;
  border: none;
  font-size: 120%;
  font-family: 'Didot', 'Times New Roman', serif; }

#clear {
  background-color: white;
  height: 40px;
  width: 40%;
  border: 2px solid #FFD9D0;
  font-size: 120%;
  font-family: 'Didot', 'Times New Roman', serif; }

#headerName {
  font-size: 200%;
  color: black;
  float: left;
  text-shadow: 2.5px 2.5px white;
  margin-left: 5%;
  margin-top: 10%; }

#logo {
  width: 40%;
  margin-bottom: 33%;
  margin-top: 20%; }

.nav ul li a {
  color: white;
  font-size: 200%;
  text-decoration: none; }

#page1 .nav {
  background-color: white; }

#page1 .nav ul li a {
  color: black; }

#page1 .nav ul li a:hover {
  color: #FFD9D0; }

.nav {
  height: 650px; }

#socialMedia ul li {
  list-style: none;
  display: inline; }

#socialMedia ul li a img {
  width: 4%;
  margin-right: 1%; }

@media only screen and (max-width: 480px) {
  #reelButton {
    margin-left: 11%;
    width: 8%; }

  #reelCont main div a video {
    width: 100%;
    margin-left: 0%;
    float: left;
    display: block; }

  #reelCont main div a {
    margin-left: 0%;
    clear: both;
    float: left; }

  #socialMedia {
    clear: left;
    position: relative;
    margin-top: 70%;
    width: 230%; }

  body#page1 {
    background-image: url(/images/background_m.jpg);
    background-repeat: no-repeat;
    color: white; }

  .headerName {
    font-size: 100%;
    padding-top: 0%;
    margin-left: 10%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 20%;
    float: none; }

  #page1 .headerName {
    margin-top: 25%;
    margin-left: 5%;
    margin-bottom: 10%;
    padding: 0%; }

  #page1 .nav_mobile {
    width: 100%;
    height: 5%;
    margin-top: 20%; }

  .nav {
    display: none; }

  .nav_mobile ul {
    margin-top: 0%; }

  .nav_mobile ul li {
    display: inline;
    padding-bottom: 0%;
    padding-left: 16.5%;
    text-align: center; }

  .nav_mobile ul li a {
    font-size: 120%;
    margin-right: 5%;
    margin-bottom: 9%;
    text-decoration: none; }

  .nav_mobile #logo {
    width: 12%;
    margin-bottom: 0%;
    margin-top: 1%;
    margin-left: 6%; }

  #page1 .nav_mobile ul li a {
    color: black; }

  #page1 .nav_mobile ul li a:hover {
    color: #b3b3b3; }

  #page1 .nav_mobile {
    background-color: white;
    position: -webkit-sticky;
    position: sticky; }

  #page2 .nav_mobile {
    width: 100%;
    height: 4%;
    visibility: visible;
    position: sticky;
    position: -webkit-sticky;
    background-color: #b3b3b3;
    bottom: 0;
    margin-top: 15%; }

  #page2 .nav_mobile ul li a {
    text-decoration: none;
    color: black; }

  #page2 .nav_mobile ul li a:hover {
    text-decoration: none;
    color: #FFD9D0; }

  #page2body p {
    clear: left;
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%; }

  #selfPic {
    clear: left;
    width: 40%;
    margin-top: 20%;
    float: none; }

  #icons {
    margin-left: 5%; }

  .aboutSvg {
    float: left;
    margin-right: 13%;
    width: 5%;
    margin-bottom: 10%;
    margin-top: 5%; }

  .aboutSvg img {
    height: 2.5em; }

  #page4 .nav_mobile {
    width: 100%;
    height: 5%;
    visibility: visible;
    position: sticky;
    position: -webkit-sticky;
    background-color: #b3b3b3;
    bottom: 0;
    color: #b3b3b3;
    clear: both;
    padding-top: 0%; }

  #page4 .nav_mobile ul li a {
    text-decoration: none;
    color: black;
    margin-top: -10%;
    padding-top: -10%; }

  #page4 .nav_mobile ul li a:hover {
    text-decoration: none;
    color: #FFD9D0; }

  #navBreak {
    height: 50%; }

  #page3 .nav_mobile {
    width: 100%;
    height: 5%;
    visibility: visible;
    position: sticky;
    position: -webkit-sticky;
    background-color: #b3b3b3;
    bottom: 0;
    color: white; }

  #page3body p {
    margin-left: 5%;
    width: 90%; }

  #page3body {
    clear: left;
    margin-left: 5%;
    width: 100%; }

  #page3 .nav_mobile ul li a {
    text-decoration: none;
    color: black; }

  #page3 .nav_mobile ul li a:hover {
    text-decoration: none;
    color: #FFD9D0; }

  #page5 .nav_mobile {
    width: 100%;
    height: 4%;
    visibility: visible;
    position: sticky;
    position: -webkit-sticky;
    background-color: #b3b3b3;
    bottom: 0;
    margin-top: 15%;
    color: white; }

  #page5 .nav_mobile ul li a {
    text-decoration: none;
    color: black; }

  #page5 .nav_mobile ul li a:hover {
    text-decoration: none;
    color: #FFD9D0; }

  #endForm ul {
    list-style: none; }

  #endForm {
    position: block;
    float: none;
    width: 80%;
    margin-left: 15%; }

  #formCont {
    float: left;
    width: 70%;
    margin-left: 5%; }

  #contactBio {
    margin-right: 7%; }

  #submit {
    margin-top: 5%;
    width: 70%; }

  #clear {
    width: 70%; }

  form input {
    background-color: #FFD9D0;
    border: none;
    width: 100%;
    height: 25px;
    margin-bottom: 2%;
    margin-left: 15%; }

  #comments {
    background-color: #FFD9D0;
    border: none;
    width: 100%;
    height: 125px;
    margin-left: 15%; }

  form label {
    margin-left: 15%; }

  #page4 #app button {
    border: #FFD9D0 solid 3px;
    box-shadow: 2px 2px #b3b3b3;
    width: 40%;
    height: 80%;
    font-family: 'Didot', sans-serif;
    font-size: 100%;
    background: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 3.5%; }

  .buttons {
    margin-left: 5%; }

  .artwork {
    margin-right: 5%;
    margin-top: 5%; } }
@media only screen and (min-width: 480px) and (max-width: 768px) {
  #reelButton {
    margin-left: 7%;
    width: 5%; }

  #reelCont main div a video {
    width: 100%;
    margin-left: 0%;
    float: left;
    display: block; }

  #reelCont main div a {
    margin-left: 0%;
    clear: both;
    float: left; }

  #socialMedia {
    clear: left;
    margin-top: 65%;
    width: 150%; }

  body#page1 {
    background-image: url(/images/background_t.jpg);
    background-repeat: no-repeat;
    color: white; }

  .headerName {
    font-size: 150%;
    margin-top: 15%; }

  #logo {
    width: 35%;
    margin-left: 30%; }

  .nav_mobile {
    display: none; }

  .nav ul li a {
    font-size: 130%; }

  .nav {
    width: 25%; }

  .nav ul {
    padding-left: 25%; }

  .aboutSvg {
    margin-top: 5%; }

  #page2body p {
    clear: left;
    float: left;
    width: 40%;
    margin-left: 10%;
    margin-top: 5%; }

  #aboutText {
    margin-left: 0%; }

  #selfPic {
    width: 18%;
    float: right;
    margin-top: 15%; }

  #icons {
    clear: left;
    margin-left: 5%; }

  .aboutSvg {
    float: left;
    margin-right: 5%;
    width: 5%;
    margin-bottom: 0%;
    margin-top: 2%; }

  .aboutSvg img {
    height: 2.5em; }

  #page5 .nav {
    height: 680px; }

  form label {
    margin-left: 15%; }

  #endForm ul {
    list-style: none; }

  #submit {
    background-color: #FFD9D0;
    height: 40px;
    width: 40%;
    border: none;
    font-size: 120%;
    font-family: 'Didot', 'Times New Roman', serif; }

  #clear {
    background-color: white;
    height: 40px;
    width: 40%;
    border: 2px solid #FFD9D0;
    font-size: 120%;
    font-family: 'Didot', 'Times New Roman', serif; }

  #endForm {
    position: block;
    float: none;
    width: 80%;
    margin-left: 15%; }

  #formCont {
    float: left;
    width: 70%;
    margin-left: 5%; }

  #contactBio {
    margin-right: 7%; }

  #submit {
    margin-top: 5%; }

  form input {
    background-color: #FFD9D0;
    border: none;
    width: 60%;
    height: 25px;
    margin-bottom: 2%;
    margin-left: 15%; }

  #comments {
    background-color: #FFD9D0;
    border: none;
    width: 60%;
    height: 125px;
    margin-left: 15%; }

  .pics_cont img {
    width: 25%;
    height: 25%;
    margin-right: 3%; }

  .pics_cont {
    margin-right: 15%; }

  .pics_cont h3, p {
    text-align: left;
    width: 90%; }

  #page4 .nav {
    height: 1600px; }

  #page4 .nav h4 {
    text-align: center;
    margin-top: 73em; }

  #page3body {
    clear: left;
    margin-left: 5%;
    width: 90%; }

  #page3body p {
    margin-left: 5%;
    width: 70%; }

  #page3body h4 {
    width: 70%; }

  #page3 .nav {
    height: 125em; }

  #page3 .nav h4 {
    text-align: center;
    position: sticky;
    margin-top: 95em; }

  #page4 #app button {
    border: #FFD9D0 solid 3px;
    box-shadow: 2px 2px #b3b3b3;
    width: 30%;
    height: 80%;
    font-family: 'Didot', sans-serif;
    font-size: 100%;
    background: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 2%;
    margin-top: 2%; }

  .buttons {
    margin-left: 5%; }

  .artwork {
    margin-right: 5%;
    margin-top: 5%; } }
@media only screen and (min-width: 768px) {
  #socialMedia {
    clear: left;
    margin-top: 30%; }

  #reelButton {
    margin-left: 3%;
    width: 4%; }

  #reelCont main div a video {
    width: 100%;
    margin-left: 0%;
    float: left;
    display: block; }

  #reelCont main div a {
    margin-left: 0%;
    clear: both;
    float: left; }

  body#page1 {
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    align-content: center;
    color: white;
    width: 100%; }

  .nav_mobile {
    display: none; }

  .nav {
    font-size: 85%;
    text-align: center; }

  .pics_cont h3, p {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%; }

  .pics_cont img {
    width: 20%;
    height: 100%; }

  .pics_cont a {
    display: inline; }

  #page4 #portfolio_container {
    margin-left: 5%; }

  #backtoTop {
    background-color: #b3b3b3;
    padding: 5%; }

  #page1 .headerName {
    font-size: 300%;
    margin-top: 10%;
    margin-left: 10%; }

  #page3body {
    clear: left;
    margin-left: 5%;
    width: 70%; }

  #page3body p {
    margin-left: 5%;
    width: 90%; }

  #page3 .nav {
    height: 130em; }

  #page3 .nav h4 {
    text-align: center;
    position: sticky;
    margin-top: 450%; }

  #selfPic {
    margin-top: 10%;
    padding-left: 2%; }

  #page2 .headerName {
    margin-bottom: 5%; }

  #page2body p {
    clear: left;
    margin-top: 5%;
    margin-left: 5%; }

  #icons {
    margin-left: 0%; }

  .aboutSvg {
    float: left;
    margin-right: 0%;
    width: 5%;
    margin-bottom: 3%;
    margin-top: 2%; }

  .aboutSvg img {
    height: 2.5em; }

  #aboutText {
    margin-top: 5px; }

  #aboutText {
    margin-top: 5px; }

  #endForm ul {
    list-style: none; }

  #endForm ul li {
    display: inline; }

  #submit {
    background-color: #FFD9D0;
    height: 40px;
    width: 40%;
    border: none;
    font-size: 120%;
    font-family: 'Didot', 'Times New Roman', serif; }

  #clear {
    background-color: white;
    height: 40px;
    width: 40%;
    border: 2px solid #FFD9D0;
    font-size: 120%;
    font-family: 'Didot', 'Times New Roman', serif; }

  #contactBio {
    margin-right: 7%; }

  form input {
    background-color: #FFD9D0;
    border: none;
    width: 80%;
    height: 25px;
    margin-bottom: 2%;
    margin-left: 15%; }

  #comments {
    background-color: #FFD9D0;
    border: none;
    width: 80%;
    height: 125px;
    margin-left: 15%; }

  form label {
    font-size: 120%;
    margin-left: 15%;
    display: block; }

  #formCont {
    float: left;
    width: 40%; }

  #endForm {
    position: relative;
    width: 50%;
    margin-left: 48%;
    padding-top: 10%; }

  #page4#app button {
    border: #FFD9D0 solid 3px;
    box-shadow: 2px 2px #b3b3b3;
    width: 10%;
    height: 80%;
    font-family: 'Didot', sans-serif;
    font-size: 100%;
    background: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 2%;
    margin-top: 2%; }

  .buttons {
    margin-left: 5%; }

  .artwork {
    margin-right: 5%;
    margin-top: 5%; } }
#page4 .headerName {
  margin-bottom: 2%; }

#portfolio_container {
  clear: left; }

#portfolio_container_main {
  clear: left;
  margin-left: 5%;
  margin-right: 5%; }

.pics_cont {
  margin-bottom: 5%; }

.artwork {
  height: 170px;
  object-fit: cover;
  float: left; }

#app {
  clear: left; }

#portfolio_container h3 {
  font-size: 120%;
  align-content: center;
  color: black;
  padding: 0.5%; }

#container_other {
  clear: left; }

.galleryDemo img {
  float: left;
  padding-right: 5%;
  margin-top: 2%;
  height: 150px; }

.gallery {
  margin-left: 5%; }

#backtoTop {
  text-decoration: none;
  color: black; }

#backtoTop:hover {
  color: #FFD9D0; }

#select {
  clear: left;
  margin-top: 5%;
  margin-left: 5%; }

#descrip {
  margin-left: 5%; }

html {
  scroll-behavior: smooth; }

#backtoTop {
  text-decoration: none;
  color: black;
  margin-top: 200em; }

#backtoTop:hover {
  color: #FFD9D0; }

#resumeLink a {
  text-decoration-line: none;
  color: black; }

#resumeLink a:hover {
  color: #FFD9D0; }

.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate; }

@keyframes blink {
  100% {
    opacity: 0; } }
@-webkit-keyframes blink {
  100% {
    opacity: 0; } }
@-moz-keyframes blink {
  100% {
    opacity: 0; } }
body {
  font-family: 'Didot', 'Times New Roman', serif;
  margin: 0px;
  overflow: hidden; }

.hidden {
  display: none; }

.hide {
  visibility: hidden; }

.visible {
  visibility: visible; }

.nav {
  float: right;
  background-color: #b3b3b3; }

.nav ul {
  margin-top: 30%;
  margin-right: 20%; }

nav ul li {
  list-style: none;
  padding-bottom: 20%; }

nav ul li a:hover {
  color: black; }

.headerName {
  color: #FFD9D0;
  text-shadow: 2px 1px black;
  font-size: 250%;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 0%; }

#page1 .headerName {
  color: black;
  text-shadow: 2px 2px white; }

#page1 section {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -99; }

.set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -99; }

.set div {
  position: absolute;
  display: block;
  z-index: -99; }

.set div:nth-child(1) {
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s; }

.set div:nth-child(2) {
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay: -5s; }

.set div:nth-child(3) {
  left: 70%;
  animation: animate 25s linear infinite;
  animation-delay: -7s; }

.set div:nth-child(4) {
  left: 0%;
  animation: animate 10s linear infinite; }

.set div:nth-child(5) {
  left: 85%;
  animation: animate 10s linear infinite; }

.set div:nth-child(6) {
  left: 10%;
  animation: animate 10s linear infinite; }

.set div:nth-child(7) {
  left: 15%;
  animation: animate 10s linear infinite; }

.set div:nth-child(8) {
  left: 60%;
  animation: animate 10s linear infinite; }

.set div:nth-child(9) {
  left: 95%;
  animation: animate 10s linear infinite; }

@keyframes animate {
  0% {
    top: -10%;
    opacity: 0;
    transform: translateX(20px) rotate(0deg); }
  10% {
    opacity: 1; }
  20% {
    transform: translateX(-20px) rotate(45deg); }
  40% {
    transform: translateX(-20px) rotate(90deg); }
  60% {
    transform: translateX(-20px) rotate(135deg); }
  80% {
    transform: translateX(-20px) rotate(180deg); }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg); } }
.set2 {
  transform: scale(0.5) rotateY(180deg);
  filter: blur(2px); }

.lightbox {
  display: none;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.164); }

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%; }

/*# sourceMappingURL=main.css.map */
