@import 'modules/_vars';
@import 'modules/_about';
@import 'modules/_contact';
@import 'modules/_home';
@import 'modules/_mediaqueries';
@import 'modules/_portfolio';
@import 'modules/_resume';
@import 'modules/type_animation.scss';
body
{
    font-family: 'Didot', 'Times New Roman', serif;
    margin: 0px;
}


.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.nav {
    float: right;
    background-color: #b3b3b3;
}

.nav ul {
    margin-top: 30%;
    margin-right: 20%;
}

nav ul li {
    list-style: none;
    padding-bottom: 20%;
}

nav ul li a:hover {
    color: black;
}

.headerName {
    color: #FFD9D0; 
    text-shadow: 2px 2px black;
    font-size: 200%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 0%; 
}

#page1 .headerName {
    color: black;
    text-shadow: 2px 2px white;
}
 