@import 'modules/_about';
@import 'modules/_contact';
@import 'modules/_home';
@import 'modules/_mediaqueries';
@import 'modules/_portfolio';
@import 'modules/_resume';
@import 'modules/_vars';

body
{
    font-family: 'Didot', 'Times New Roman', serif;
    margin: 0px;
}

.hidden {
    display: none;
}

nav {
    float: right;
    background-color: #FFD9D0;
    height: 610px;
}

nav ul {
    margin-top: 30%;
}

nav ul li {
    list-style: none;
    padding-bottom: 20%;
}

nav ul li a:hover {
    color: black;
}

.headerTitle {
    color: #FFD9D0;
    text-shadow: 2px 2px black;
    font-size: 300%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}