
body#page1 {
    background-image: linear-gradient(to right, #AD0000, #2EABFF);
    background-repeat:no-repeat; 
    color: white;
}


#headerName {
    font-size: 400%;
    color: white;
    float: left;
    text-shadow: 2.5px 2.5px black;
    margin-left: 5%;
    margin-top: 10%;
}

#logo
{
    width: 45%;
    margin-left: 30%;
    margin-bottom: 33%;
    margin-top: 20%;
}

.nav ul li a {
    color: white;
    font-size: 200%;
    text-decoration: none;
}

#page1 .nav {
    background-color: white;
}

#page1 .nav ul li a {
    color:#2EABFF;
}

#page1 .nav ul li a:hover {
    color:#AD0000;
}

.nav {
    height: 610px;
}