#headerName {
    font-size: 200%;
    color: black;
    float: left;
    text-shadow: 2.5px 2.5px white;
    margin-left: 5%;
    margin-top: 10%;
}

#logo
{
    width: 40%;
    margin-bottom: 33%;
    margin-top: 20%;
}

.nav ul li a {
    color: white;
    font-size: 200%;
    text-decoration: none;
}

#page1 .nav {
    background-color: white;
}

#page1 .nav ul li a {
    color:black;
}

#page1 .nav ul li a:hover {
    color:#FFD9D0;
}

.nav {
    height: 610px;
}

#socialMedia {
    clear: left;
    margin-top: 50%;
}

#socialMedia ul li {
    list-style: none;
    display: inline;
}

#socialMedia ul li a img {
    width: 4%;
    margin-right: 1%;
}