
#selfPic {
    width: 25%;
    margin-right: 5%;
    float: right;
}


#icons div {
    display: inline;
}

#icons {
    margin-left: 5%;
}

.aboutSvg {
    float: left;
    margin-left: 5%;
    width: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.aboutSvg img {
    height: 2.5em;
} 

.Title1 {
    margin-top: 15%;
}

