#page2body p {
    clear: left;
    float: left;
    width: 40%;
    margin-left: 7%;
    margin-top: 5%;
}

#selfPic {
    width: 25%;
    margin-top: 10%;
    margin-right: 5%;
    float: right;
}

.aboutSvg {
    clear: left;
    margin-left: 5%;
}


.aboutSvg object {
    display: inline;
}

.about {
    margin-right: 5%;
    height: 40px;
    width: 5%;
}