#contactBio {
    clear: left;
    margin-top: 5%;
    margin-left: 10%;
}

#contactBio a {
    text-decoration: none;
    color: black;
}

#contactBio a:hover {
    color: #FFD9D0;
}


form input {
    background-color: #FFD9D0;
    border: none;
    width: 30%;
    height: 25px;
    margin-bottom: 2%;
    margin-left: 10%;
}

#comments {
    background-color: #FFD9D0;
    border: none;
    width: 30%;
    height: 125px;
    margin-left: 10%;
}

form label{
    font-size:120%;
    margin-left: 10%;
    display:block;
}

#endForm {
    margin-left: 45%;
}

#endForm ul {
    list-style: none;
}

#endForm ul li {
    display: inline;
}

#submit {
    background-color: #FFD9D0;
    height: 40px;
    width: 40%;
    border: none;
    font-size: 120%;
    font-family: 'Didot', 'Times New Roman', serif;
}

#clear {
    background-color: white;
    height: 40px;
    width: 40%;
    border: 2px solid #FFD9D0;
    font-size: 120%;
    font-family: 'Didot', 'Times New Roman', serif;
}


@media only screen and (max-width:660px) {

#endForm {
    margin-left: 45%;
}

#endForm ul {
    list-style: none;
}

#endForm ul li {
    display: inline;
}

#submit {
    background-color: #FFD9D0;
    height: 40px;
    width: 40%;
    border: none;
    font-size: 120%;
    font-family: 'Didot', 'Times New Roman', serif;
}

#clear {
    background-color: white;
    height: 40px;
    width: 40%;
    border: 2px solid #FFD9D0;
    font-size: 120%;
    font-family: 'Didot', 'Times New Roman', serif;
}

}