#page5 .headerName {
    margin-bottom: 2%;
}

#page5 .nav {
    float: right;
}

#contactBio {
    clear: left;
    margin-top: 5%;
    margin-left: 10%;
}

#contactBio a {
    text-decoration: none;
    color: black;
}

#contactBio a:hover {
    color: $my_pink;
}


form input {
    background-color: $my_pink;
    border: none;
    width: 100%;
    height: 25px;
    margin-bottom: 2%;
    margin-left: 10%;
}

#comments {
    background-color: $my_pink;
    border: none;
    width: 100%;
    height: 125px;
    margin-left: 10%;
}

form label{
    font-size:120%;
    margin-left: 10%;
    display:block;
}

#formCont {
    float: left;
    width: 40%;
}
 
#endForm {
    position: relative;
    width: 50%;
    margin-left: 48%;
    padding-top: 10%;
}

#endForm ul {
    list-style: none;
}

#endForm ul li {
    display: block;
    margin-bottom: 2%;
}

#submit {
    background-color: $my_pink;
    height: 40px;
    width: 40%;
    border: none;
    font-size: 120%;
    font-family: 'Didot', 'Times New Roman', serif;
}

#clear {
    background-color: white;
    height: 40px;
    width: 40%;
    border: 2px solid $my_pink;
    font-size: 120%;
    font-family: 'Didot', 'Times New Roman', serif;
}

