
@media only screen and (max-width:660px){

    #headerName {
    font-size: 250%;
    margin-top: 15%;
}

#logo
{
    width: 35%;
}

nav ul li a {
    font-size: 150%;
    text-align: center;
}

nav {
    width: 25%;
}

#page3 nav h4{
    margin-top: 950%;
}

#page3 nav {
    height: 2000px;
}

#page3body {
    margin-right: 20%;
}


}