@media only screen and (max-width:480px){
    //index page

    body#page1 {
        background-image: url(../images/background_m.jpg);
        background-repeat:no-repeat; 
        color: white;
    }

    .headerName {
        font-size: 100%;
        padding-top: 0%;
        margin-left: 10%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 20%;
        float: none;
    }

    #page1 .headerName {
        margin-top: 25%;
        margin-left: 5%;
        margin-bottom: 10%;
        padding: 0%;
    }

    #page1 .nav_mobile {
        width: 100%;
        height: 5%;
        visibility: visible;
        margin-top: 100%;
    }

    .nav {
        display: none;
    }
    .nav_mobile ul {
        margin-top: 0%;
    }

    .nav_mobile ul li {
        display: inline;
        padding-bottom: 0%;
        padding-left: 16.5%;
        text-align: center;
    }

    .nav_mobile ul li a {
        font-size: 120%;
        margin-right: 5%;
        margin-bottom: 9%;
    }

    .nav_mobile #logo {
        width: 12%;
        margin-bottom: 0%;
        margin-top: 1%;
        margin-left: 6%;
    }

    #page1 .nav_mobile ul li a {
        color:black;
    }

    #page1 .nav_mobile ul li a:hover {
        color:#b3b3b3;
    }

    #page1 .nav_mobile {
        background-color:white;
    }


    //about page

    #page2 .nav_mobile {
        width: 100%;
        height: 4%;
        visibility: visible;
        position: sticky;
        background-color: #b3b3b3;
        bottom: 0;
        margin-top: 61%;
        color: white;
    }

    //portfolio page

    #page4 .nav_mobile {
        width: 100%;
        height: 5%;
        visibility: visible;
        position: sticky;
        background-color: #b3b3b3;
        bottom: 0;
        color: white;
    }

    #desktopBreak {
        display: none;
    }

    .pics_cont {
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
    }

    .pics_cont img {
        display: block;
        width: 90%;
        margin-bottom: 5%;
        height: 100%;
        overflow: hidden;
    }

    .tabletBreak {
        display: none;
    }

    #portfolio_container {
        margin-left: 10%;
    }

    //resume page

    #page3 .nav_mobile {
        width: 100%;
        height: 5%;
        visibility: visible;
        position: sticky;
        background-color: #b3b3b3;
        bottom: 0;
        color: white;
    }

    //contact page

    #page5 .nav_mobile {
        width: 100%;
        height: 4%;
        visibility: visible;
        position: sticky;
        background-color: #b3b3b3;
        bottom: 0;
        margin-top: 61%;
        color: white;
    }


}





@media only screen and (min-width:480px) and (max-width:768px){

    body#page1 {
        background-image: url(../images/background_t.jpg);
        background-repeat:no-repeat; 
        color: white;
    }

    .headerName {
    font-size: 150%;
    margin-top: 15%;
}

#logo
{
    width: 35%;
    margin-left: 30%;
}

.nav_mobile {
    display: none;
}

.nav ul li a {
    font-size: 130%;
}

.nav {
    width: 25%;
}

.nav ul {
    padding-left: 25%;
}

//contact page

form input {
    margin-left: 22%;
}

label {
     padding-left: 12%;
}

#comments {
    margin-left: 22%;
}

#endForm {
    clear: left;
    margin-left: 13%;
    padding-top: 2%;
    width: 50%;
}


#page5 .nav {
    height: 680px;
}

//portfolio page
.pics_cont img {
    width: 25%;
    height: 25%;
}

.pics_cont a {
    display: inline;
}

#portfolio_container label {
    font-size: 10%;
    position: relative;
}

#portfolio_container {
    margin-left: 8%;
}

.tabletBreak {
    display: block;
}

#desktopBreak {
    display: none;
}

.pics_cont img:hover {
    opacity: 1;
}

.nav {
    height: 850px;
}


}


@media only screen and (min-width:768px){

    body#page1 {
        background-image: url(../images/background.jpg);
        background-repeat:no-repeat; 
        color: white;
    }

    .nav_mobile {
        display: none;
    } 

    .nav {
        font-size: 85%;
        text-align: center;
    }
    
    #desktopBreak {
        display: block;
    }

    .tabletBreak {
        display: none;
    }

    .pics_cont img {
        width: 20%;
        height: 100%;
    }
    
    .pics_cont a {
        display: inline;
    }

    #portfolio_container {
        margin-left: 5%;
    }


    #page1 .headerName {
        font-size: 300%;
        margin-top: 10%;
        margin-left: 10%;
    }
}