@media only screen and (max-width:480px){
    //index page
    #headerName {
        font-size: 210%;
        padding-top: 0%;
        margin-left: 10%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 20%;
        float: none;
    }

    #page1 .nav_mobile {
        width: 100%;
        height: 5%;
        visibility: visible;
        margin-top: 80%;
        background-color: #FFD0C9;
    }

    .nav {
        display: none;
    }
    .nav_mobile ul {
        margin-top: 0%;
    }

    .nav_mobile ul li {
        display: inline;
        padding-bottom: 0%;
        padding-left: 16.5%;
        text-align: center;
    }

    .nav_mobile ul li a {
        font-size: 130%;
        margin-right: 5%;
        margin-bottom: 9%;
    }

    .nav_mobile #logo {
        width: 12%;
        margin-bottom: 0%;
        margin-top: 1%;
        margin-left: 5%;
    }

    #page1 .nav_mobile ul li a {
        color:black;
    }

    #page1 .nav_mobile ul li a:hover {
        color:#FFD0C9;
    }

    #page1 .nav_mobile {
        background-color:white;
    }


    //about page

    #page2 .nav_mobile {
        width: 100%;
        height: 4%;
        visibility: visible;
        position: sticky;
        background-color: #FFD9D0;
        bottom: 0;
        margin-top: 61%;
    }

    //portfolio page

    #page4 .nav_mobile {
        width: 100%;
        height: 5%;
        visibility: visible;
        margin-top: 61%;
        position: sticky;
        background-color: #FFD9D0;
        bottom: 0;
    }

    //resume page

    #page3 .nav_mobile {
        width: 100%;
        height: 5%;
        visibility: visible;
        position: sticky;
        background-color: #FFD9D0;
        bottom: 0;
    }

    //contact page

    #page5 .nav_mobile {
        width: 100%;
        height: 5%;
        visibility: visible;
        position: sticky;
        background-color: #FFD9D0;
        bottom: 0;
    }


}







@media only screen and (min-width:480px) and (max-width:640px){

    #headerName {
    font-size: 250%;
    margin-top: 15%;
}

#logo
{
    width: 35%;
}

.nav_mobile {
    display: none;
}

.nav ul li a {
    font-size: 130%;
}

.nav {
    width: 25%;
}

.nav ul {
    padding-left: 20%;
}

//contact page

form input {
    margin-left: 22%;
}

label {
     padding-left: 12%;
}

#comments {
    margin-left: 22%;
}

#endForm {
    clear: left;
    margin-left: 13%;
    padding-top: 2%;
    width: 50%;
}


#page5 .nav {
    height: 680px;
}


}


@media only screen and (min-width:640px){
    .nav_mobile {
        display: none;
    }  
}