#page4 .headerName {
    margin-bottom: 2%;
}

#portfolio_container {
    clear: left;
}

#portfolio_container_main {
    clear: left;
    margin-left: 5%;
    margin-right: 5%;
}

.pics_cont {
    margin-bottom: 5%;
}


.artwork {
    height: 170px;
    object-fit: cover;
    float: left;
}

#app {
    clear: left;
}

#portfolio_container h3 {
    font-size: 120%;
    align-content: center;
    color: black;
    padding: 0.5%;
}

#container_other {
  clear: left;
}

.galleryDemo img {
  float: left;
  padding-right: 5%;
  margin-top: 2%;
  height: 150px;
}

.gallery {
  margin-left: 5%;
}

#backtoTop {
    text-decoration: none;
    color: black;
}

#backtoTop:hover {
    color: $my_pink;
}

#select
{
    clear: left;
    margin-top: 5%;
    margin-left: 5%;
}

#descrip {
    margin-left: 5%;
}
