#portfolio_container {
    clear: left;
}

.pics_cont {
    margin-left: 2%;
    display: inline;
    margin-right: 0%;
}

.pics_cont img {
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.pics_cont img:hover {
    opacity: 0.25;
}

#portfolio_container label {
    font-size: 120%;
    align-content: center;
    position: absolute;
    color: black;
    background-color: lightgray;
    box-shadow: 2px 2px 2px black;
    padding: 0.5%;
}

.personal_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}
.work_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}

.photog_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}

.school_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}

.video_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}

.other_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}
