#portfolio_container {
    clear: left;
}

.pics_cont {
    margin-left: 2%;
    display: inline;
    margin-right: 0%;
}

.pics_cont img {
    height: 200px;
    object-fit: cover;
}

#portfolio_container h3 {
    font-size: 120%;
    align-content: center;
    color: black;
    padding: 0.5%;
}

.personal_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}
.work_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}

.photog_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}

.school_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}

.video_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}

.other_img img {
    display: block;
    width: 20%;
    margin-bottom: 3%;
}

#container_other {
  clear: left;
}

.galleryDemo img {
  float: left;
  padding-right: 5%;
  margin-top: 2%;
  height: 150px;
}

.gallery {
  margin-left: 5%;
}