#page3body {
    clear: left;
    margin-top: 5%;
    margin-left: 5%;
    width: 70%;
}

.nav h4{
    text-align: center;
    position: sticky;
    margin-top: 540%;
}

#backtoTop {
    text-decoration: none;
    color: black;
}

#backtoTop:hover {
    color: white;
}

#page3 .nav {
    height: 1650px;
}

@media screen and (max-width:660px){
#page3 .nav {
    height: 1830%;
}


#resume {
    padding-right: 10%;
}

#page3 .nav h4{
    margin-top: 970%;
    padding-bottom: 5%;
}
}
