html {
    scroll-behavior: smooth;
}

.nav h4{
    text-align: center;
    position: sticky;
    margin-top: 450%;
}

#backtoTop {
    text-decoration: none;
    color: black;
    margin-top: 200em;
}

#backtoTop:hover {
    color: white;
}

#resumeLink a {
    text-decoration-line: none;
    color: black;
}

#resumeLink a:hover {
    color: $my_pink;
}